In [29]:
import pandas as pd
import numpy as np

Merge Dataframes on the Title from different files

In [30]:
movies = pd.read_csv('J:\\My Drive\\Coding\\Data Science Project\\Movie Recomendation\\dataset\\tmdb_5000_movies.csv')

credits = pd.read_csv('dataset\\tmdb_5000_credits.csv')

movies= movies.merge(credits, on = 'title')
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
4773,50000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,290391,"[{""id"": 9748, ""name"": ""revenge""}, {""id"": 9826,...",en,"Run, Hide, Die",On the anniversary weekend of the death of a y...,0.595809,"[{""name"": ""Little Big Film Company"", ""id"": 260...",...,75.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Five girls, one secret. Revenge stalks them in...","Run, Hide, Die",3.5,2,290391,"[{""cast_id"": 0, ""character"": ""Addison Davenpor...","[{""credit_id"": ""5407ef980e0a26267c000b1b"", ""de..."
2696,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,34152,"[{""id"": 577, ""name"": ""black people""}, {""id"": 1...",en,Crooklyn,From Spike Lee comes this vibrant semi-autobio...,1.892180,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,115.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Crooklyn,6.7,31,34152,"[{""cast_id"": 1, ""character"": ""Carolyn Carmicha...","[{""credit_id"": ""52fe45589251416c9102f1af"", ""de..."
4124,2000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,12109,"[{""id"": 635, ""name"": ""disc jockey""}, {""id"": 14...",en,It's All Gone Pete Tong,Its All Gone Pete Tong is a comedy following t...,3.911445,[],...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,It's All Gone Pete Tong,7.1,52,12109,"[{""cast_id"": 2, ""character"": ""Frankie Wilde"", ...","[{""credit_id"": ""52fe44b79251416c7503e7a3"", ""de..."
3427,6500000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,34723,"[{""id"": 168598, ""name"": ""southern accent""}, {""...",en,The Adventures of Huck Finn,Climb aboard for an extraordinary version of M...,2.163683,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,For anyone who has ever dreamed of running awa...,The Adventures of Huck Finn,6.2,42,34723,"[{""cast_id"": 1, ""character"": ""Huck Finn"", ""cre...","[{""credit_id"": ""54e84780c3a36836dc00164a"", ""de..."
1609,30000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",NaN,9013,"[{""id"": 7340, ""name"": ""crooked lawyer""}, {""id""...",en,Midnight Run,An accountant embezzles $15 million of mob mon...,12.821329,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,126.0,"[{""iso_639_1"": ""cs"", ""name"": ""\u010cesk\u00fd""...",Released,This could be the beginning of a beautiful fri...,Midnight Run,7.2,238,9013,"[{""cast_id"": 1, ""character"": ""Jack Walsh"", ""cr...","[{""credit_id"": ""56446be39251410a410052c8"", ""de..."

Feature Selection

In [31]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Data Extraction: The genres and keywords are stored as "Stringified Lists of Dictionaries." You need a helper function to convert these into clean lists of strings.

In [33]:
import ast
def convert(text):

    L = []

    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [34]:
movies.dropna(inplace= True)

In [35]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [36]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

Targeted Info Extraction

In [37]:
def fetch_director(text):

    L = []

    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])

    return L

movies['crew'] = movies['crew'].apply(fetch_director)
movies['cast'] = movies['cast'].apply(lambda x: x[0:3])

In [38]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[{""",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[{""",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[{""",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[{""","[Brian Herzlinger, Jon Gunn, Brett Winn]"

Entity Resolution (Removing Spaces)

In [39]:
def collapse(L):
    L1 = []

    for i in L:
        L1.append(i.replace(" ", ""))
    return L1

movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)

Step 6: Feature Fusion (Creating the Tags)

We now combine all our processed attributes into a single pool of words called tags. We also split the overview string into a list of words so it can be concatenated with our other lists. Finally, we join the big list back into one long string.

In [40]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']


#   new dataframe with just ID, Title, and the fused Tags
new = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

Step 7: Text Vectorization (The Bag of Words)

We need to convert these paragraphs into a mathematical format. We use the Bag of Words model. It creates a matrix where each row is a movie and each column is one of the 5,000 most frequent words. The cells contain the count of that word in that movie.

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words = 'english')
vector = cv.fit_transform(new['tags']).toarray()

Step 8: Cosine Similarity (Calculating Distance)

In a 5,000-dimensional space, we want to see how close two movies are. We use Cosine Similarity, which measures the angle between vectors. An angle of 0° (Similarity = 1) means they are identical; 90° (Similarity = 0) means they are completely unrelated.

In [42]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

Step 9: The Recommendation Function - The final logic:

1.  Find the index of the requested movie.

2.  Get the similarity scores for that index.

3.  Use enumerate to keep the movie indices attached to their scores.

4.  Sort by score and pick the top 5 (excluding the movie itself).

In [49]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse= True, key= lambda x: x[1])

    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [50]:
import pickle
pickle.dump(new, open('movie_list.pkl','wb'))
pickle.dump(similarity, open('similarity.pkl','wb'))